:root {
    --elemacy-badge-size: 12px;
}

.elementor-element[data-library-element-type^="elemacy"] .icon {
    position: relative;
}

.elementor-element[data-library-element-type^="elemacy"] .icon::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    width: var(--elemacy-badge-size);
    height: var(--elemacy-badge-size);
    background-image: var(--elemacy-brand-mark);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
}
